<canvas
  baseChart
  [options]="pieChartOptions"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [plugins]="pieChartPlugins"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"
  [type]="'pie'"
>
</canvas>
<!-- 
<canvas
  baseChart
  [options]="pieChartOptions"
  [data]="pieChartDatasets.data"
  [labels]="pieChartLabels"
  [colors]="pieChartColors"
  [chartType]="pieChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"
>
</canvas>
-->
